{{!< default}}
<div class="contentwrap">	
		<div class="about">
			<h3>about</h3>
			<p>Morpheus Records ist eine unabh채ngige non-profit Plattform f체r junge Bands und Komponisten in jazzverwandter Musik. <br/>
			Dieses aktive Musiker-Netzwerk entwickelt sich durch die kreative T채tigkeit aller Beteiligten st채ndig weiter. </p> <br/>
			<h3>kontakt</h3>
			Morpheus Records <br/>
			M.Pasquinelli<br/>
			Greyerzstr. 77<br/>
			3013 Bern <br/><br/>
			<a href="mailto:contact@morpheus-records.com">contact@morpheus-records.com</a><br/>
			+41 77 459 77 44<br/>
			<a target="_blank" href="https://www.facebook.com/morpheusrecords">facebook.com/morpheusrecords</a>
			<a target="_blank" href="http://morpheusrecords.bandcamp.com">http://morpheusrecords.bandcamp.com</a>
		</div>
	</div>
</div>
