
		<div class="contentwrap impr">
			<div class="footercol newsletter">
				<h3>newsletter</h3>
				<!-- Begin MailChimp Signup Form -->
					<div id="mc_embed_signup">
					<form action="https://morpheus-records.us3.list-manage.com/subscribe/post?u=dea2d6c0d933327e5758f92d2&amp;id=0e44284d3b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

						<div class="mc-field-group">
							<label style="display:none" for="mce-EMAIL">Email Address </label>
							<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"/>
						</div>
						<div id="mce-responses" class="clear">
							<div class="response" id="mce-error-response" style="display:none"></div>
						<div class="response" id="mce-success-response" style="display:none"></div>
						</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    					<div style="position: absolute; left: -5000px;"><input type="text" name="b_dea2d6c0d933327e5758f92d2_0e44284d3b" value=""/></div>
						<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"/></div>
					</form>
				</div>
				<!--End mc_embed_signup-->
			</div>

			<div class="footercol mail">
				<h3>mail</h3>
				<a href="mailto:contact@morpheus-records.com">@morpheus-records</a>
			</div>

			<div class="footercol fb">
				<a href="https://www.facebook.com/morpheusrecords" target="_blank"><h3>facebook</h3></a>
			</div>

			<div class="footercol iovi">
				<p style="color:rgba(255,255,255,0.2);">design & code by <a href="https://www.iovi.io" target="_blank">iovi</a></p>
			</div>
		</div>
