#logo{
	width: 306px;
	float: left;
	display: relative;
	padding: 0 0 0 1px;
  @include susy-breakpoint(1px 768px){
    margin-right: 100%;
  };
}

nav {
  	background: rgba(0, 0, 0, 0);
  	position: relative;
  	z-index: 1000;
  	text-align: left;
  	padding-left:0;
	}

nav ul {
	}

nav ul li {
  	display: inline-block;
  	vertical-align:middle;
  	padding: 10px 26px 12px 26px;
    @include susy-breakpoint(1px 768px){
      padding: 10px 26px 12px 8px;
    };
	}

nav a {
	font-family:"Futura W02 Medium";
	font-style: normal;
  	font-size: 29px;
  	font-weight: 600;
  	color: #fff;
  	text-decoration: none;
	}

nav a:visited {
	text-decoration: none;
}

nav a:hover {
	text-decoration: none;
 	box-shadow: 0px 1px 0px #fff, 0px -1px 0px #fff;
	}

nav a:active {
 	text-decoration: none;
 	box-shadow: 0px 1px 0px #fff, 0px -1px 0px #fff;
	}
